DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/my_app_v2_dev?sslmode=require"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/my_app_v2_shadow?sslmode=require"
SESSION_SECRET="replace-with-at-least-32-random-bytes"
NODE_ENV="development"
